*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
   
}
body{
    /*max-width: 900px;*/
    margin: 0px auto;
    background:#583491;
    
    
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: center;
    margin-top: 3rem;
}

.flex--one{
    display: flex;
    flex-direction: column;

}

.flex--two{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title{
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 10px; 
    align-content: center;
    align-items: center;
}

h1{
    font-size: 2.5rem;
    color: #ffff;
    padding-bottom: 10px;
    
}

.title--image {
    max-width: 40%;
}

h3{
    font-size: 2rem;
    color: #ffff;
}

.big_text_days , .big_text_hours , .big_text_mins , .big_text_sec{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
}

p{
    padding: 10px 0px 5px 0px;
    font-size: 1.5rem;
    text-align: center;
    max-width: 75%;
    color:#ffff;
}
.spantext{
    color: red;
    margin: 0px 1rem;
    font-size: 1.5rem;
    font-style: italic;
}
.text_sec{
    color : red;
}

